<launch>

  <!-- Map Server -->
  <arg name="map_file" default="$(find mcl_robot)/maps/apartment.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">

    <!-- Filter -->
    <param name="min_particles" value="20"/>
    <param name="max_particles" value="200"/>
    <param name="update_min_a" value="0.1"/>
    <param name="update_min_d" value="0.25"/>
    <!-- Laser -->
    <!-- Odometry -->
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>

    <!-- If choose to define initial pose here -->
    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
  </node>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <remap from="scan" to="/mcl_robot/laser/scan"/>

    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find mcl_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mcl_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mcl_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mcl_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mcl_robot)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
