<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- world File -->
  <arg name="world_file" default="$(find turtlebot3_world)/worlds/apartment.world"/>
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>


  <!-- Launch the robot-->
  <!-- send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder 
                                  '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'" />
  <!-- robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  <!-- Spawn the Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model turtlebot3_burger
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>


  <!-- send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>
  <!-- send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" 
        args="-d $(find turtlebot3_world)/rvizConfig/turtlebot3.rviz"/>

</launch>
